#Rainbow {
opacity: 1;
margin-top: 50px;
margin-left: 100px;
font-style: inherit;
font-variant: small-caps;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-image:  url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
background-position: center center;
border-radius: 200px;
}

@media screen and (max-width: 768px) {

  #Rainbow {
    opacity: 1;
    margin-top: 50px;
    margin-left: 257px;
    font-style: inherit;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:  url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
    background-position: center center;
    border-radius: 120px;
    }
    
}
@media screen and (max-width: 1600px) {

  #Rainbow {
    opacity: 1;
    margin-top: 50px;
    margin-left: 220px;
    font-style: inherit;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:  url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
    border-radius: 120px;
    }
    
}

@media screen and (max-width: 1600px){
#Shop2 {
margin-top: -966px;
margin-left: 1470px;
font-style: inherit;
font-variant: small-caps;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
}








#Shop {
    opacity: 0.77;
    margin-top: -883px;
    margin-left: 1710px;
    font-style: inherit;
    font-variant: small-caps;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255);


  }

  @media screen and (max-width: 1600px) {
    #Shop {
      opacity: 0.77;
      margin-top: -853px;
      margin-left: 1600px;
      font-style: inherit;
      font-variant: small-caps;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    visibility: hidden;
    }


  }

  #Bank
  {
  
opacity: 1;
margin-top: 627px;
margin-left: 1610px;
background-image: url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
background-size: 3000px 550px;
border-radius: 200px;
color: rgba(0, 195, 255, 0)

  }
  @media screen and (max-width: 1601px) {
    #Bank
    {
  visibility: hidden;
  opacity: 1;
  margin-top: 599px;
  margin-left: 1110px;
  background-image: url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
  background-size: 3000px 550px;
  border-radius: 200px;
  color: rgba(0, 195, 255, 0)
  
  
    }


  }

  #Bottom {
  margin-top: 785px;
   margin-left: 25px;
   opacity: 1;
   background-image: url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
   border-radius: 200px;
   color: rgba(0, 195, 255, 0)

  }


  #Vertigo {

             writing-mode: vertical-lr; 
            text-orientation: upright; 
            white-space: nowrap;
            margin-top: -400px;
            margin-left: 1572px;
            opacity: 1;
            

   background-image: url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
   background-size: 500px 600;
   border-radius: 200px;
   color: rgba(0, 77, 100, 0)


  

  }

 



@media screen and (max-width: 1600px) {

#Vertigo {
  writing-mode: vertical-lr; 
  text-orientation: upright; 
  white-space: nowrap;
  margin-top: -953px;
  margin-left: 1322px;
  opacity: 1;
  

background-image: url(https://www.svg.com/img/gallery/theres-a-nyan-cat-game-coming-to-switch-next-week/intro-1574361360.jpg);
background-size: 500px 600;
border-radius: 200px;
color: rgba(0, 77, 100, 0)
}




}

  
  
  body {
    
    height: 100vh;
    background-position: 1600px 0px, 0px 0px, 1600px 300px;
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-color: rgb(7, 117, 180);
    border-radius: 300px;
    


    background-image:
    url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f361c20-87a0-47f4-9217-383117f5371c/d6e81ng-525fd8de-3a75-4cd7-b78d-3a98f0cafe58.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmMzYxYzIwLTg3YTAtNDdmNC05MjE3LTM4MzExN2Y1MzcxY1wvZDZlODFuZy01MjVmZDhkZS0zYTc1LTRjZDctYjc4ZC0zYTk4ZjBjYWZlNTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8ZMKjhaIhE49wWBd6QGnqBK-_T0blvM3CEjsHUA5THw),
    url(https://thedailyguardian.com/wp-content/uploads/2022/11/rainbow.jpg),
    url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26f2f0db-6467-4796-9f54-3305520828b4/de9twyr-904d69f9-935f-4348-9a83-313e3f317285.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2ZjJmMGRiLTY0NjctNDc5Ni05ZjU0LTMzMDU1MjA4MjhiNFwvZGU5dHd5ci05MDRkNjlmOS05MzVmLTQzNDgtOWE4My0zMTNlM2YzMTcyODUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GgpOxMuMKVdgShRwQwdkJdIDa6QjESi06gBBsYAjTLU);
}

@media screen and (max-width: 1601px) { 
  #Upgrades {
margin-top: 825px;
margin-left: 1370px;
font-style: inherit;
font-variant: small-caps;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white; }
}




@media screen and (max-width: 1601px) {
#cookieKnap {
  margin-top: -550px;
  margin-left: 655px;
  position: absolute;
  width: 190px;
  height: 190px;
  background: url(https://p7.hiclipart.com/preview/299/520/2/cookie-clicker-chocolate-chip-cookie-thin-mints-clip-art-cookies.jpg);
  cursor: pointer;
  z-index: 10000;
  border-radius: 128px;
  border: none;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  background-size: 220px 246px;
  background-position: -20px ;
}
@media screen and (max-width: 1601px) {
#multiCost {
margin-top: -10px;
margin-left: 1475px;
position: absolute;
font-style: inherit;
font-variant: small-caps;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white; }
}
}


@media screen and (max-width: 1601px) {
  #mushroomUpgrade {
  margin-top: 0px;
  margin-left: 1375px;
  position: absolute;
  background: url(https://cp.cute-cursors.com/uploads/cursors/364/364-preview.png);
  z-index: 10000;
  border-radius: 70px;
  border: none;
  overflow: hidden;
  outline: none;
  background-repeat: no-repeat;
  background-size: 100px 100px;
  background-position: -3px ;
  width: 80px;
  height: 80px;
  cursor: pointer;


  }


}


@media screen and (max-width: 1601px){
#mogmPrice {
margin-top: -618px;
margin-left: 1455px;
position: absolute;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white; 
font-size: small;
}
}

@media screen and (max-width: 1601px) {
#mogmBuy {
margin-top: -590px;
margin-left: 1520px;
position: absolute;
font-family:monospace;
color: rgb(255, 187, 0); 
font-size:small;
background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/56/93/04579f4940636ff.jpg)
}
}

@media screen and (max-width: 1601px) {
#mogmX {
  margin-top: -625px;
  margin-left: 1600px;
  position: absolute;
  font-family:monospace;
  color: rgb(255, 187, 0); 
  font-size:large;

}
}

@media screen and (max-width: 1601px) {
#doubleClick {
margin-top: 35px;
margin-left: 1477px;
position: absolute;
font-style: inherit;
font-variant: small-caps;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
color: white; }
}


@media screen and (max-width: 1601px) {
#mogmKnap {
  margin-top: -650px;
  margin-left: 1370px;
  position: absolute;
  background: url(https://p1.hiclipart.com/preview/128/432/919/mnm-s-m-m-512-icon-png-icon.jpg);
  border: none;
  border-radius: 1128px;
  width: 80px;
  height: 80px;
  z-index: 10000;
  background-size: 130px 146px;
  background-position: -23px;
}

}

@media screen and (max-width: 1600px) {
#container {
display: none;

}

}


@media screen and (max-width: 1600px) {
#container.show {
display: block;

}
}


@media screen and (max-width: 1600px) {

  #achievementText {
  
    margin-top: -265px;
    margin-left: 690px;
    position: absolute;
    z-index: 10000;
    opacity: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
    font-size: x-small;
    font-style:inherit;
  
  }
  
  
  }

@media screen and (max-width: 1601px) {

  #achievements {

    margin-top: -300px;
    margin-left: 640px;
    position: absolute;
    background: url(https://w7.pngwing.com/pngs/255/45/png-transparent-achievement-unlocked-logo-achievement-xbox-360-video-game-world-of-warcraft-overwatch-world-of-warcraft.png);
    width: 220px;
    height: 63px;
    z-index: 100;
    background-size: 280px 145px;
    background-position: -32px;
    border-radius: 100px;

  }

}














@media screen and (max-width: 1601px) {
#cookiesPrSec {
    margin-top: -26px;
    margin-left: 650px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
    font-size: larger;
    font-style:inherit;
    font-kerning: auto;
    background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/56/93/04579f4940636ff.jpg);
    border-radius: 120px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 200px;
    z-index: 2;
    opacity: 0.5;

}

}



@media screen and (max-width: 1601px) {

  #cookiesDisplay {
    margin-top: -650px;
    margin-left: 685px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white; 
    font-size: larger;
    font-style:inherit;
    font-kerning: auto;
    background: url(https://png.pngtree.com/thumb_back/fh260/back_pic/03/56/93/04579f4940636ff.jpg);
    border-radius: 120px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 120px;
    z-index: 2;
  }

}







@media screen and (max-width: 1601px) {

  body {
  height: 100vh;
  background-position: 1365px 0px, 1365px 500px, 0px 0px;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-color: rgb(7, 117, 180);
  z-index: -1;
  border-radius: 80px;
  



  background-image:
  url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5f361c20-87a0-47f4-9217-383117f5371c/d6e81ng-525fd8de-3a75-4cd7-b78d-3a98f0cafe58.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzVmMzYxYzIwLTg3YTAtNDdmNC05MjE3LTM4MzExN2Y1MzcxY1wvZDZlODFuZy01MjVmZDhkZS0zYTc1LTRjZDctYjc4ZC0zYTk4ZjBjYWZlNTguanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8ZMKjhaIhE49wWBd6QGnqBK-_T0blvM3CEjsHUA5THw),
  url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/26f2f0db-6467-4796-9f54-3305520828b4/de9twyr-904d69f9-935f-4348-9a83-313e3f317285.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzI2ZjJmMGRiLTY0NjctNDc5Ni05ZjU0LTMzMDU1MjA4MjhiNFwvZGU5dHd5ci05MDRkNjlmOS05MzVmLTQzNDgtOWE4My0zMTNlM2YzMTcyODUucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.GgpOxMuMKVdgShRwQwdkJdIDa6QjESi06gBBsYAjTLU),
  url(https://thedailyguardian.com/wp-content/uploads/2022/11/rainbow.jpg);

  }






}

